@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    "PingFang TC", "PingFang HK",
    "Noto Sans TC",
    "Microsoft JhengHei", "Microsoft JhengHei UI",
    "Heiti TC",
    "Hiragino Sans",
    "Arial", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PingFang TC","PingFang HK","Noto Sans TC","Microsoft JhengHei", Arial, sans-serif;
  line-height: 1.6;
}
